.eventDecorsImg{
	width: 150px;
	height: auto;
}

.galleryImg{
	width: auto;
	max-height: 150px;
	margin: auto;
	display: block;
}

/*.modalImg{
	width: auto;
	max-height: 100px;
	padding: 0.5em;
}*/

/*.modalImg:hover{
	cursor: pointer;
}*/

.thumbnail:hover{
	opacity: 0.8;
	cursor: pointer;
}